* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  display: flex;
  gap: 5rem;
}
.my-name {
  width: 470px;
  color: aliceblue;
  /* color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}

span {
  color: brown;
}

h3 > span {
  color: rgba(255, 255, 0, 0.767);
}

h1 {
  margin-left: -1rem;
  margin-top: 300px;
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 1rem;
}

.frase {
  margin-top: 250px;
}

.img-wrapper img {
  /* object-fit: cover; */
  opacity: 0.7;
}

.personal-links {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.personal-links > h1 {
  color: white;
  margin-top: -7rem;
  font-size: 1.7rem;
  margin-left: 6rem;
}

button {
  margin-right: 3rem;
  width: 490;
  height: 50px;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: brown;
  color: aliceblue;
}

button:hover {
  cursor: pointer;
  color: rgba(255, 255, 0, 0.767);
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 10px -8px rgba(21, 93, 226, 0.781); */
}

.personal-links > h2 {
  color: aliceblue;
}

.personal-links > h3 {
  color: aliceblue;
  margin-top: -2rem;
}
